.auth-form {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    color: black;
    margin-top: 2em;
    margin-bottom: 2em;
    padding:1em;
    /* box-shadow: 0 0 1em 1px gainsboro; */
    padding-bottom: 5em;

}

.auth-heading {
    background: linear-gradient(145deg, rgba(255, 68, 0), rgba(255, 68, 0));
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    margin: .5em;
}

.input {
    display: block;
    width: 70%;
    min-width: 280px;
    border:none;
    border-bottom: 1px solid black;
    padding: 1em;
    margin: 1em auto;
    outline: none;
    /* background-color:rgb(255, 255, 240); */
    box-sizing: border-box;
}

.auth-button {
    padding:.5em;
    font-size: large;
    border-radius: .4em;
    background-color: rgba(255, 68, 0);
    color: white;
    border: none;
    width: 50%;
}