.cart {
  min-height: calc(100vh - 120px);
  margin: 40px auto;
  margin-top: 40px;
  padding: 2.5rem 2em;
  max-width: 700px;
  box-shadow: 0 0 1em 1px rgb(183, 182, 182);
  font-size: large;
}

.cart h2 {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 3rem;
  color: green;
}

.empty-cart {
  text-transform: lowercase;
  color: var(--clr-grey-5);
  margin-top: 1rem;
  text-align: center;
}

.cart footer {
  margin-top: 4rem;
  text-align: center;
}

.cart-total h4 {
  text-transform: capitalize;
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.clear-btn,
.confirm-btn {
  background: transparent;
  padding: 0.5rem 1rem;
  color: var(--clr-red-dark);
  border: 1px solid var(--clr-red-dark);
  margin-top: 2.25rem;
  border-radius: var(--radius);
}

.clear-btn:hover {
  background: var(--clr-red-light);
  color: var(--clr-red-dark);
  border-color: var(--clr-red-light);
}

.confirm-btn {
  border-color: var(--clr-primary);
  color: var(--clr-primary);
}

.Cart-button{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* box-shadow: 0 0 .5em .1em rgb(173, 171, 171); */

}
.clear{
  border:.1em solid red;
  border-radius: .5em;
  color:red;
  background-color: rgb(186, 46, 46,.3);
  padding:.5em;
  margin:1em;
}
.buy{
   border:.1em solid green;
   border-radius:.5em;
   color: green;
   background-color: rgba(108, 225, 108, 0.4);
   padding:.5em;
   margin: 1em;
   font-weight:bold ;
}
