.heading{
 text-align: center;
 color: orangered;
 text-shadow: 2px 2px gainsboro;
 padding:.5em
}

.changeAddress{
    max-width: 500px;
    padding:1em 1em 2em 1em;
    margin:1em auto;
    display:flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-items: center;
    box-shadow: 0 0 1em 1px gainsboro;
}

.inputFields{
    max-width:400px;
    margin:1em;
    padding:.5em;
    border:none;
    border-bottom: .1em solid black;
    outline: none;
    width:100%;
    box-sizing: border-box;
}

.contactInfoHeading{
    margin: 1em;
    color: orangered;
}


.contactInfo{
  text-align: center;
}

.contactDetail{
    box-sizing: border-box;
    width:40%
}

.submit{
    margin:1em;
    padding:.5em;
    color:white;
    background-color: rgba(255, 68, 0);
    border:none;
    font-size: large;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    border-radius: .5em;
}