svg {
  max-width: 100%;
  max-height: 100%;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0 0 1em;
  color: black;
  background-color: rgb(181, 178, 178);
  box-shadow: 0 0 .2em .2em rgb(235, 235, 235);
  list-style-type: none;
  max-width: 1500px;
  margin: 0 auto;
  box-sizing: border-box;
}

.navbar h2 {
  min-width: 30%;
  margin: .6em 0;
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Cinzel';
}

.navbar-activities {
  min-width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  color: black;
  padding: 1em;
}
.location{
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  padding: .5em;
  box-sizing: border-box;
  background-color: rgb(198, 197, 197);
  color: black;
}

.location svg {
  height: 100%;
  width: 20px;
  margin-right: .2em;
}

.location:hover {
  cursor: pointer;
}

.navbar-activities button {
  font-size: larger;
  font-weight: 500;
  margin: 0 .5em;
  background-color:rgb(181, 178, 178) ;
  color: black;
  border: none;
}

.icons button{
 background-color: rgb(181, 178, 178);
 display: none;
}

.icons button svg{
 width: 30px;
 height: 30px;
 color: black;
}

.cart{
  position: relative;
}



@media(min-width:500px) {
  /* .navigation-menu{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: 1500px;
    z-index: 10000;
  } */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    background-color: rgb(181, 178, 178);
    list-style-type: none;
    padding: 0em 0em 0em 3em;
    max-width: 1500px;
    margin: 0 auto;
    box-shadow: none;
   
  }

  .navbar-activities {
    min-width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: black;
    background-color: transparent;
  }

  .navbar-activities button {
    font-size: larger;
    margin: 0 1em;
    background-color: rgb(181, 178, 178);
    /* background-color: rgb(255, 255, 255); */
    color: black;
    border: none;
  }

  .icons button{
    display: inline;
  }

}