.product {
    background-color: white;
    width: 450px;
    height: 10em;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;
    color: black;
    font-size: 1em;
    box-shadow: .07em .07em .07em .07em rgb(141, 138, 138);
    cursor: pointer;
    border-radius: .5em;
}

.productImage {
    overflow: hidden;
    width: 50%;
    height: 100%;
    position: relative;
}

.productImage:hover img{
    transform: scale(1.1);
   }

.productImage img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform .25s ease-in-out;

}

.productImage button{
        position: absolute;
        bottom: 0; 
        width: 40%;
        height: 3em;
        left: 0;
        color: green;
        border:none;
        padding:.5em;
        font-weight: bolder;

}

.productDetail {
    padding: 1em;
    width: 40%;
    text-align: center;
    max-height: 100%;
    object-fit: contain;
    font-size: .9em;
    overflow: auto;    
}

  
