.not_found{
 max-width: 1500px;
 margin: 1em auto;
 text-align: center;
 margin-bottom: 3em;
}

.image{
    max-width: 300px;
    max-height: 300px;
    margin: 0 auto;
    object-fit: cover;
}

.image img{
    height: 100%;
    width: 100%;
}
.main{
padding: 1em;
}
.main p{
 font-size: large;
 font-weight: bold;
 color: rgba(255, 68, 0);
}

.main button{
    border: none;
    border-radius: .2em;
    padding: 6px 16px;
    background-color:rgba(255, 68, 0);
    color: white;
    font-weight: bold;
    font-size: medium;
    transition: transform .25s ease-in;
}

.main button:hover{
    transform: scale(1.1);
}