.item {
    display: flex;
    align-items: center;
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    /* width: 100%; */
    word-break:normal;
    word-wrap: break-word;
}

.differentCityItems{
    border-bottom: 1px solid red;
    margin: 1em auto;
    color:grey
    
}

.differentCityItems h4{
    color:red
}

.sameCityItems{
    border-bottom: 1px solid rgb(179, 178, 178);
    margin: 1em auto;
}

.itemImage {
    width: 8em;
    height: 8em;
    margin: .5em;
    object-fit: cover;
    border-radius: 100em;
    overflow:hidden;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.itemImage img {
    width: 100%;
}

.itemDescription {
    width: 40%;
    text-align: left;
    padding: .3em;
    margin: .3em;
    margin-left: 1em;
}